<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebside</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <span><h1 id="my-name">Jack Lanciloti</h1></span>

    <ul>
        <li><%= link_to("About Me", "/about") %></li>
        <li><%= link_to("Contact Jack", "/contact") %></li>
        <li><%= link_to("My Portfolio", "/portfolio") %></li>
    </ul>
    
    <%= yield %>
  </body>
</html>
